*
{
	FONT-FAMILY: SANS-SERIF;
	FONT-SIZE: 8PT;
}
BODY 
{
	background-color: #30445a;
	MARGIN: 0PX 0PX;
#	COLOR: #333333;
  }
H1
{
	text-align: center;
}
pre 
{
	margin: 0;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#TICKET
{
#	BORDER: 2PX SOLID #BFD1E2;
#	HEIGHT: 694PX;
	POSITION:ABSOLUTE;
#	WIDTH: 1118PX;
	MIN-HEIGHT: 721PX;
	MIN-WIDTH: 1118PX;
#	BORDER: 2PX DOTTED RED;
	HEIGHT: 100%;
	LEFT: 0PX;
	TOP: OPX;
	RIGHT: 0PX;
#	BOTTOM: 0PX;
#	WIDTH: 1024PX;
}
#HEADER
{
#	MIN-WIDTH: 1118PX;
	HEIGHT: 127PX;
#	BORDER: 2PX SOLID #BFD1E2;
#	BORDER: 2PX SOLID gold;
	POSITION: ABSOLUTE;
	LEFT: 0PX;
	TOP: 0PX;
	RIGHT: 0PX;
#	background-color: #30445a;
}
.headerImage 
{
	background-image:url('../images/SI_BANNER.png');
	background-repeat:no-repeat;
	height: 37px;
	left: 0px;
	right:0px;
	top:0px;
	position:absolute;
#	background-color: #39506B;
#	background-color: #233041;
}
#FOOTER
{
#	background-color: #444B52;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 27px;
	color: white;
}
#ACTIONBAR
{
#	WIDTH: 1118PX;
	HEIGHT: 27PX;
	POSITION:ABSOLUTE;
	LEFT: 0PX;
	TOP:127PX;
	RIGHT: 0PX;
	BACKGROUND-COLOR: #CDECB6;
}
#DETAILS
{
	BACKGROUND-COLOR: #E8EAEC;
#	WIDTH: 703PX;
	WIDTH: 62.88%;
#	HEIGHT: 540PX;
	MIN-HEIGHT: 540PX;
	BOTTOM: 27PX;
#	BORDER: 2PX SOLID #BFD1E2;
#	BORDER: 2PX SOLID purple;
	POSITION: ABSOLUTE;
	LEFT: 37.12%;
	TOP: 154PX;
}
.NAVIGATION 
{
	POSITION:RELATIVE;
	TOP: 0PX;
	background-color: RGB(169, 175, 178);
	COLOR: #333333;
	MARGIN: 0PX;
	PADDING: 3PX 1PX 0px 1px;
	HEIGHT: 18PX;
	BORDER-BOTTOM: 1PX SOLID RGB(134, 143,147);
}
.TAB 
{
#	background-image:url('../images/button.jpg');
#	background-repeat: repeat-x;
	*display: inline;
	-moz-border-top-radius: .5em;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-webkit-border-top-left-radius: .5em; 
	-webkit-border-top-right-radius: .5em; 
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 0px 3px 0px 2px;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	cursor: pointer;
	display: inline-block;
	float: left;
	outline: none;
	padding: 2px 5px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	vertical-align: bottom;
	color: #333333;
#	border: solid 1px #868F93;
	background-color: #C4D0DE;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF6FC), to(#C4D0DE));
	background: -moz-linear-gradient(top,  #EFF6FC,  #C4D0DE);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFF6FC', endColorstr='#C4D0DE');
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
}
.blue-sample
{
	color: #333333;
	border: solid 1px #868F93;
	background-color: #C4D0DE;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF6FC), to(#C4D0DE));
	background: -moz-linear-gradient(top,  #EFF6FC,  #C4D0DE);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFF6FC', endColorstr='#C4D0DE');
}
.Btn:hover , .TAB:hover
{
	background-color: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#E8EAEC), to(#868F93));
	background: -moz-linear-gradient(top,  #E8EAEC,  #868F93);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8EAEC', endColorstr='#868F93');
}
.Btn:active , .TAB:active
{
	color: #333333;
	background: -webkit-gradient(linear, left top, left bottom, from(#E8EAEC), to(#868F93));
	background: -moz-linear-gradient(top,  #E8EAEC,  #868F93);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8EAEC', endColorstr='#868F93');
}
.SUB-NAV
{
	position:relative;
	top: 0px;
	background: #bfd1e2;
	color: #333333;
	margin: 0px;
	padding: 2px 2px;
	height: 21px;
	border-bottom: 1px solid RGB(174,176,178);
}
.sb_link 
{
#	background-color:#c8d2de;
	background: -moz-linear-gradient(top, #f6f6f8, #c4d0dc);
	background: -webkit-gradient(linear, left top, left bottom, from (#f6f6f8), to (#c4d0dc));
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#f6f6f8', endColorstr='#c4d0dc');
	color: #1C5FE6;
}
.sb_linkClicked 
{
#	background-color:#facc9a;
	background: -moz-linear-gradient(top, #fbcfa0, #f8af61);
	background: -webkit-gradient(linear, left top, left bottom, from (#fbcfa0), to (#f8af61));
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#fbcfa0', endColorstr='#f8af61');
	color: #333333;

}
.sb_link, .sb_linkClicked 
{
	border-right: 1px solid #E8EAEC;
	cursor:pointer;
	float: left;
	padding:3px 10px 3px 10px;
	margin: 0px 1px;
}
#SUMMARY 
{
	PADDING: 5px;
	POSITION: ABSOLUTE;
	BOTTOM: 0PX;
	TOP: 47PX;
}
.DETAILSECTION
{
	WIDTH:694px;
	HEIGHT: 494PX;
#	POSITION: RELATIVE;
#	TOP: 0PX;
	PADDING: 5px;
}
FIELDSET 
{
	BORDER: 1PX SOLID #CACACA;
	MARGIN: 0PX 5PX 5PX 5PX;
	PADDING: 5PX 10PX;
}
LEGEND 
{
	BORDER-LEFT: 1PX SOLID #CACACA;
	BORDER-RIGHT: 1PX SOLID #CACACA;
	MARGIN-LEFT: -4PX;
	FONT-WEIGHT: BOLD;
	PADDING: 0PX 4PX;
}
LABEL 
{
	PADDING: 0PX 3PX 0PX 0PX;
	COLOR: #666666;
}
HR 
{
	COLOR:  #CACACA;
	SIZE: 1PX;
}
.Column 
{
#	display: inline;
	float: left;
#	margin: 0px 5px;
#	width: 231PX;
	width: 33.333%;
	height: 100%;
#	background: pink;
#	BORDER: 1px solid BLUE;
	overflow: auto;
	OVERFLOW-X:HIDDEN;
}
.SectionData 
{
	color: #6666666;
	margin: 0px 0px;
}
.DataRow 
{
	padding-bottom: 1px;
#	background: gold;
}
.clear 
{
	clear: both;
}
.break 
{
	clear: both;
	height: .4em;
}
.right 
{
	text-align: right;
}
a, .link 
{
	color: #1c5fe6;
	text-decoration: none;
	cursor: pointer;
} 
.editlink 
{
	color: #1c5fe6;
	text-decoration: none;
	cursor: pointer;
}
.SUB_NAV
{
	position:relative;
	top: 0px;
	background: #bfd1e2;
	color: #333333;
	margin: 0px;
	padding: 0px;
	height: 25px;
	border-bottom: 1px solid RGB(174,176,178);
}
.link.navigation 
{
	background-color:#bfd1e2;
	border: 0;
	color: #1c5fe6;
	cursor:pointer;
	float: left;
	height: 100%;
	padding: 0;
	width: 100%;
}
.linkClicked 
{
	background-color:#bfd1e2;
	border: 0;
	color: #333333;
	cursor:pointer; 
	float: left;
	height: 100%;
	padding: 0;
	width: 100%;
}
td.navigation 
{
	border-right:1px solid #dae5ee;
	padding:0px 5px 0px 5px;
}
table.navigation 
{
 height: 100%;
}
#WORKLOG
{
#	border-right: 1px solid RGB(134, 143,147);	
#	WIDTH: 414PX;
	WIDTH: 37.12%;
#	HEIGHT: 540PX;
	MIN-HEIGHT: 540PX;
	BOTTOM: 27PX;
#	BORDER: 2PX SOLID #BFD1E2;
#	BORDER: 2PX SOLID pink;
	POSITION:ABSOLUTE;
	LEFT: 0PX;
	TOP: 154PX;
}
#WL_Header 
{
	background-color: RGB(169, 175, 178);
	border-bottom: 1px solid RGB(134, 143,147);
	height: 21px;
	position: relative;
	top: 0px;
	width: 100%;
}
#WL_Keyword 
{
	background-color: #868F93;
	border-bottom: 1px solid RGB(174,176,178);
	height: 25px;
	position: relative;
	top: 0px;
	width: 100%;
}
#WorkLogEntries 
{
	position:absolute;
	top:47px;
	width: 100%;
	BOTTOM: 0PX;
#	height: 493px;
	OVERFLOW: SCROLL;
	overflow-x:hidden;
}
.Title
{
	font-weight: bold;
	float: left;
	padding-top: 4px;
	padding-left: 10px;
}
.HeaderBtn 
{
	border: 0px;
	cursor: pointer;
	height: 21px;
	padding: 0px 5px;
}
.TxtInput 
{
	width: 110;
	margin: 2px 2px 0px 10px;
}
.Btn 
{
#	background-image:url('../images/button.jpg');
	border: 0px;
	height: 18px;
	margin: 2px 2px;
	text-align: center;
	width: 54px;
	color: #333333;
	border: solid 1px #868F93;
	background-color: #C4D0DE;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF6FC), to(#C4D0DE));
	background: -moz-linear-gradient(top,  #EFF6FC,  #C4D0DE);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFF6FC', endColorstr='#C4D0DE');
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.Date 
{
font-weight: bold;
color: #666666;
}
.Details 
{
padding: 0px;
color: #868F93;
}
.Tasks 
{
padding: 0px;
color: #333333;
}
.EntryEven, .EntryOdd 
{
padding: 8px 10px;
color: #868F93;
margin-left: 88px;
}
.EntryEven 
{
background-color: #E8EAEC;
}
.EntryOdd 
{
background-color: #DFE1E3;
}
.Group 
{
text-align: right;
color: #868F93;
display: relative;
}
.Log 
{
background-color: #BDCAD7;
width: 100%;
overflow: hidden;
#  max-height: 62px;
}
.ManualEntry 
{
border-left: 2px solid #E1582F;
padding-left: 8px;
min-height: 47px;
}
.ManualDetails 
{
color: RGB(51,51,51);
}
.Submitter 
{
color: #1C5FE6;
float: left;
}
.Time 
{
color: #437C95;
}
.TimeStamp 
{
background-color: #BDCAD7;
margin: 8px 0px 0px 10px;
position:absolute;
left:0px;
}
